name: Test build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Create and install test package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7

      - uses: ./.github/actions/prepare-build

      - run: |
          flit build
          flit install
  
  lint:
    name: Run static analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7

      - uses: ./.github/actions/prepare-build

      - run: |
          flake8 simplecpreprocessor

  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7

      - uses: ./.github/actions/prepare-build

      - run: |
          py.test -v

  upload-coverage:
    name: Test with coverage and publish report
    # Disabled for fork PR's as we can't use OIDC there
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write   # Required for OIDC
    steps:
      - uses: actions/checkout@v4.1.7

      - uses: ./.github/actions/prepare-build

      - name: Run tests with coverage
        run: |
          py.test -v --cov=simplecpreprocessor --cov-config .coveragerc --cov-report=xml --cov-report=term-missing

      - name: Upload to Codecov via OIDC
        uses: codecov/codecov-action@v5.5.0
        with:
          files: ./coverage.xml
          use_oidc: true
          fail_ci_if_error: true
          verbose: true
