name: Test build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Create and install test package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7

      - uses: ./.github/actions/prepare-build

      - run: |
          flit build
          flit install
  
  lint:
    name: Run static analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7

      - uses: ./.github/actions/prepare-build

      - run: |
          flake8 simplecpreprocessor

  test:
    name: Test with coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7

      - uses: ./.github/actions/prepare-build

      - run: |
          py.test -v --cov=simplecpreprocessor --cov-config .coveragerc --cov-report=xml --cov-report=term-missing

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4.3.3
        with:
          name: coverage
          path: coverage.xml

  upload-coverage:
    name: Publish coverage report
    needs: test
    # Disabled for fork PR's as we can't use OIDC there
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write   # Required for OIDC
    steps:
      - uses: actions/checkout@v4.1.7

      - uses: actions/download-artifact@v4.1.8
        with:
          name: coverage

      - name: Upload to Codecov via OIDC
        uses: codecov/codecov-action@v5.5.0
        with:
          files: ./coverage.xml
          use_oidc: true
          fail_ci_if_error: true
          verbose: true
          root_dir: ${{ github.workspace }}
